* {
  box-sizing: border-box;
}

body {
  background: #faf9f3;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  text-shadow: 2px 2px 4px deeppink;
}
.list-movies-title {
  padding: 15px 0 10px 0;
  background: linear-gradient(#111257, 70%, #7577e8);
  color: white;
  text-align: center;
  font-size: 16pt;
  z-index: 10000;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}

.movie-container {
  list-style-type: none;
  padding: 0;
  margin-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.movie {
  width: 140px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title,
.movie-year {
  font-size: 0.8em;
  text-align: center;
}

.movie-title {
  margin-top: 10px;
}

.movie-year {
  color: #999;
}

.movie-poster {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  width: 128px;
  height: 193px;
}
.img-container {
  position: relative;
  border: 1px solid #ff1493;
}
.star {
  transform: rotate(-15deg);
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0.2px 2px 2px);
}
.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -24;
  right: -24;
}
.movie-rating {
  font-size: 0.7em;
  position: absolute;
  font-weight: bold;
}
